<!DOCTYPE html>
{% extends "first_app/base.html"%}
{% block body_block%}
      <div class="jumbotron">
        <h1>Bem-vindo ao Aplicativo de Auxilio ao DESMOS</h1>
      </div>
      <h1>Cadastre-se!</h1>
      <p>Para Cadastro: <a href="/users/">users</a></p>
      <h1>O que é o Aplicativo?</h1>
      <p>O aplicativo foi criado com o intuito de auxiliar na aprendizagem da calculadora DESMOS.<br>
      O App serve como um guia, ou um manual sobre cada função a ser utilizada nos desenhos.<br>
      É abordado as seguintes funções:</p>
      <ul>
        <li>Retas</li>
        <li>Parábolas</li>
        <li>Funções Trigonométricas</li>
        <li>Circunferências</li>
        <li>Elipses</li>
        <li>Hipérboles</li>
        <li>Outros</li>
      </ul>
{% endblock %}
