<!DOCTYPE html>
{% extends "first_app/base.html"%}
{% block body_block%}
      <div class="jumbotron">
        <h1>Parábolas</h1>
      </div>
      <h2>O que são Parábolas?</h2>
      <p>Parabolas são curvas caracterizadas por uma função de <strong>segundo grau</strong>.<br>
      Elas são o utilizadas para dar curvas para nossos desenhos.<br>
      Veremos as formas de reprensentar e manipular as parábolas.<br>
      <em>"Gata me chama de Paul Walker e deixa eu fazer um drift nas suas curvas" - Michel Zeine,2016</em></p>
{% endblock %}
