<!DOCTYPE html>
{% extends "first_app/base.html"%}
{% block body_block%}
      <div class="jumbotron">
        <h1>Retas</h1>
      </div>
      <h2>O que são retas?</h2>
      <p>Retas são o tipo mais simples de <strong>Desenhos</strong> que existem na matematica.<br>
      Elas são essenciais para desenhar, do basico ao avançado.<br>
      Retas pode ser descritas a maioria das vezes por uma <strong>função polinomial do primeiro grau</strong><br>
      Também conhecida como <strong>função afim</strong> chamaremos ela desta forma de agora em diante.<br>
      <em>"com 5 ou 6 retas é facil fazer um castelo" - Toquinho,1980</em></p>
      <p><strong>Exemplo de Reta:</strong></p>
      <img src="https://i.imgur.com/IoiY64r.png" alt="OPS! Imagem não encontrada!">
      <small><br><em>formula: y = 2x+1</em></small>
      <h2>Função Afim</h2>
      <p>O gráfico da Função Afim é uma reta, e por manipular a função acabamos por manipular a reta <br>
      A função afim tem uma forma genérica de ser representada:<br>
      Esta é a forma genérica da função afim:<strong>y = a*x + b</strong><br>
      Onde <em><strong>a</strong></em> é chamado de coeficiente angular da reta<br>
      e <em><strong>b</strong></em> é chamado de coeficiente linear da reta.<br>
      então iremos ver qual a função de cada coeficiente, e como podemos <br>
      manipula-los para gerar nossos desenhos.</p>
      <p>Te encorajo a entrar no <a target="_blank" href="http://www.desmos.com">DESMOS</a> e seguir o passo a passo abaixo:</p>
      <p><strong>1</strong> entre no link acima <br>
      <strong>2</strong> Clique em <strong>"Start Graphing"</strong> <br>
      <img src="https://i.imgur.com/UgAXP0l.png" alt="OPS! Imagem não encontrada!"> <br>
      <strong>3</strong> Clique na caixa de texto do lado  superior esquerdo:<br>
      <img src="https://i.imgur.com/dT1oRjx.png" alt="OPS! Imagem não encontrada!"><br>
      <strong>4</strong> Digite : <em>y=ax+b</em><br>
      <img src="https://i.imgur.com/6rgKIYz.png" alt="OPS! Imagem não encontrada!"><br>
      <strong>5</strong> Selecione os controles deslisantes <em>a</em> e <em>b</em><br>
      <img src="https://i.imgur.com/5j7bWtT.png" alt="OPS! Imagem não encontrada!"><br>
      </p>
      <p>Note que você agora tem uma reta!<br>
      Encorajo-o a manipular os controles deslisantantes, e verificar o que ocorre com:<br>
      A reta ao alterar <em>somente</em> o <strong>Coeficiente Linear</strong><br>
      A reta ao alterar <em>Somente</em> o <strong>Coeficiente Angular</strong><br>
      Vamos focar no <strong>Coeficiente Linear</strong> <em>"b"</em><br>
      retorne a os valores dos coeficientes para 1, teremos esse grafico:<br>
      </p>
      <img src="https://i.imgur.com/8kUeEIH.png" alt="OPS! Imagem não encontrada!">
      <p>Agora altere o controle deslisante para 2 e veja o que ocorre</p>
      <img src="https://i.imgur.com/2uVvNjx.png" alt="OPS! Imagem não encontrada!">
      <p>Note que a reta agora cruza o eixo y no valor de 2 <br>
      Altere novamente o controle deslisante para 3 agora<br>onde o você acha que cruzará o eixo das ordenadas?</p>
      <img src="https://i.imgur.com/o5RK19s.png" alt="OPS! Imagem não encontrada!">
      <div class="container">
        <h3>Teste!</h3>
        <p>Qual o valor do <strong>Coenficiente Linear</strong> do gráfico abaixo:</p>
        <img src="https://i.imgur.com/EBLjmSM.png" alt="OPS! Imagem não encontrada!">
        <form method="post">
          {{test1.as_p}}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Validar</button>
        </form>
      </div>
      <p>Ótimo! vamos agora manipular o coeficiente angular da reta da seguinte forma:<br>
      <strong>1</strong> retorne os valores para <strong><em>a = 1</em></strong> e <strong><em>b = 0</em></strong>, assim voce terá esse desenho:<br></p>
      <img src="https://i.imgur.com/L4W2NFh.png" alt="OPS! Imagem não encontrada!">
      <p><strong>2</strong> agora troque o valor do <strong><em>a</em></strong> para 2 e você terá o seguinte gráfico:</p>
      <img src="https://i.imgur.com/3AZXtrw.png" alt="OPS! Imagem não encontrada!">
      <p><strong>3</strong> note a diferença na angulação da reta, troque <strong><em>a</em></strong> para 0.5 agora e você tera o gráfico abaixo:</p>
      <img src="https://i.imgur.com/IpiNe2j.png" alt="OPS! Imagem não encontrada!">
      <div class="container">
        <h3>Teste!</h3>
        <p>Você consegue imaginar qual o <strong>Coeficiente Angular</strong> da reta abaixo?:</p>
        <img src="https://i.imgur.com/9zTHV6R.png" alt="OPS! Imagem não encontrada!">
        <form method="post">
          {{test2.as_p}}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Validar</button>
        </form>
      </div>
      <h2>Identificando os coeficientes!</h2>
      <p>Agora veremos como identificar os coeficientes da função afim, a partir de seu gráfico!</p>
      <p>Como anteriormente foi visto os coeficientes, você ja deve ter uma noção de como identifica-los <br>
      O mais facil de se encontrar é o <strong><em>coeficiente linear</em></strong>, ele pode ser encontrado substituindo <br>
      a <strong><em>variável independente</em></strong> da função por 0, assim teremos qual o valor da função quando o gráfico <br>
      cruza a <strong><em>imagem</em></strong>, o eixo <strong><em>y</em></strong> no nosso caso.</p>
      <p>Olhe a imagem abaixo:</p>
      <img src="https://i.imgur.com/2uVvNjx.png" alt="OPS! Imagem não encontrada!">
{% endblock %}
