<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Retas</title>
    <link rel="stylesheet" href="{% static "CSS/mystyle.css" %}">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
  </head>
  <body>
    <header>
      <a href="../">Voltar</a>
      <a href="../help/">Ajuda</a>
    </header>
    <h1>Retas</h1>
    <div class="txt_exp">
      <p>Retas são o tipo mais simples de funções matematicas</p>
      <p>dentro de retas iremos ver dois tipos de funções:</p>
      <p>Funções Constantes</p>
      <p>Funções Lineares</p>
    </div>
    <h2>Funções Constantes</h2>
    <div class="txt_exp">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <h2>Funções Lineares</h2>
    <div class="txt_exp">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </body>
</html>
